#container {
  margin: 16px;
  width: 992px;
}

h1 {
  font-size: 48px;
}

ul {
  font-size: 16px;
  line-height: 28px;
  margin: 16px 0 0 0;
  text-align: left;
}

ul li {
  float: left;
  margin: 0 8px 8px 0;
  width: 240px;
}

ul li .thumbnail {
  width:240px;
  height:180px:
}

hr {
  clear: both;
}

.right {
  float: right;
}
