#container {
  margin: 16px;
}

h1 {
  font-size: 48px;
}

div.channel {
  float: left;
  margin: 0 8px 8px 0;
  width: 240px;
  height: 180px;
}

.channel img {
  width: 100px;
  height: 100px;
}

.channel img.thumbnail {
  width: 240px;
  height: 180px:
}

hr {
  clear: both;
}

.right {
  float: right;
}
